*{
    background-color: #ffffff;
    color: #011c40;

}
:root {
    --first-color: #57d6f2;
    --container-color: #48b0d9;
    --container-text-color: #57d6f2;
    --text-color: #000000;
    --body-color: #011126;
    --mobile-menu-color: #011126;
    --body-font: 'Poppins', sans-serif;
    --header-height: 4rem;
    --greend: #0b508c;

}
.home-img{
    max-width: 350px;
}
.main{
    margin-top: var(--header-height);
}

.search{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.search-link{
    font-family: sans-serif;
    padding: 5px 10px;
    font-size: 40px;
}

.search-link:hover{
    border: 1px solid var(--greend);
    border-radius: 50px;
}

.buttonContact{
    padding: 10px;
    background-color: #48b0d9;
    border-radius: 50px;
}
.buttonContact:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
