*{
    background-color: #011126;
}
:root {
    --first-color: #57d6f2;
    --container-color: #48b0d9;
    --container-text-color: #57d6f2;
    --text-color: #000000; 
    --body-color: #011126;
    --mobile-menu-color: #011126;
    --body-font: 'Poppins', sans-serif;
    --header-height: 4rem;
    --greend: #0b508c;

}
.home-img{
    max-width: 350px;
    background-color: #011126;
}
.main{
    margin-top: var(--header-height);
}

.search{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #011126;
}
.search-link{
    font-family: sans-serif;
    padding: 5px 10px;
    font-size: 2rem;
    background-color: #011126;
    color: #48b0d9;
}

.search-link:hover{
    border: 5px solid var(--greend);
    border-radius: 50px;
    background-color: #011126;
}

.Categories{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border: 10px solid var(--greend);
    background-color: #011126;
}
.Categories-Separation{
    font-family: sans-serif;
    padding: 5px 10px;
    font-size: 2rem;
    color: #57d6f2;
    background-color: #011126;
}
.Categories-Separation:hover{
    background-color: #011126a4;
    border-radius: 50px;
    filter: opacity(0.5);
}
.buttonContact:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
.buttonContact{
    padding: 10px;
    background-color: #002f6c;
    border-radius: 50px;
}

.horizontal-scroll-contenedor {
    background-color: #011126;
    width: auto;
    height: 300px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
    white-space: nowrap;
}
.horizontal-scroll-contenedor > div {
    width: auto;
    height: 300px;
    margin: 0 10px 0 0;
    padding: 0;
    background: #011126;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.img-scroll{
    background-size: cover; 
    width: 250px;
    height: 200px;
}